<h4 align="center" class="day">{{date | date: 'EEEE'}}</h4>

<mat-grid-list [cols]="1">
  <mat-grid-tile>
    <div class="container">
      <img  style="width: 100%" align="center" src="src/assets/shape2.png">
      <div class="centered">{{rssFeed.getLatestAQI()}}</div>
      <div class="down">AQI</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list [cols]="1" rowHeight="80">

  <mat-grid-tile>
    <div class="container">
      <img style="width: 50%" src="src/assets/location.png">
      <div class="city">{{rssFeed.channel.title}}, BA</div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="container">
      <img style="width: 30%" src="src/assets/time.png">
      <div class="city">{{date | date: 'H:mm'}}</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list [cols]="1" rowHeight="220">
  <mat-grid-tile>
    <div class="container">
      <img style="width: 100%" src="src/assets/tipp.png">
      <div class="headline">Unhealthy</div>
      <div class="line">{{rssFeed.channel.items[23].description}}</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list [cols]="1" rowHeight="80">
  <mat-grid-tile>
    <div class="container">
      <img style="width: 50%" src="src/assets/podijeli.png">
      <div class="share">SHARE</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

